header {
	background:#2c3e50;
	color:#fff;
}

.main {
	background: #f2f2f2;
}

.color {
	background: #23c732;
}
aside {
	background:#34495e;
	color: #fff;
}

footer {
	background:#2c3e50;
	color:#fff;
}